<div class="flex justify-center items-start min-h-screen">
  <div class="carContainer bg-white p-6 rounded-lg shadow-md w-3/5 my-8">
    <ng-container *ngIf="user; else NotLogged">
      <h2 class="text-2xl font-bold mb-4">
        Rent {{ car?.producer }} {{ car?.make }}
      </h2>
      <img
        class="carImage w-full h-auto object-cover rounded mb-4"
        src="{{ car?.imageUrl }}"
        alt="{{ car?.imageUrl }}"
      />
      <label class="carName block text-xl font-bold mb-2"
        >{{ car?.producer }} {{ car?.make }}</label
      >
      <label class="carData block text-gray-600 mb-2"
        >{{ car?.year }} | {{ car?.fuel }} | {{ car?.milage }}</label
      >
      <label class="carPrice block text-lg font-semibold mb-4"
        >{{ car?.price }}/hour</label
      >

      <form #rentForm="ngForm" class="formContainer">
        <label class="block mb-2">Start date:</label>
        <input
          #startDate="ngModel"
          name="startDate"
          [(ngModel)]="rentStartDate"
          type="datetime-local"
          class="border border-gray-300 p-2 w-full rounded mb-4"
        />
        <label class="block mb-2">End date:</label>
        <input
          #endDate="ngModel"
          name="endDate"
          [(ngModel)]="rentEndDate"
          type="datetime-local"
          required
          class="border border-gray-300 p-2 w-full rounded mb-4"
        />
        <small class="text-red-500 block mb-4" *ngIf="!dateCorrect"
          >this date is occupied</small
        >

        <button
          class="carRentButton bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 w-full"
          [disabled]="!checkDate()"
          [class.disabled]="!checkDate()"
          (click)="testDates()"
        >
          RENT
        </button>
      </form>

      <h2 class="text-2xl font-bold mb-4" *ngIf="rents">
        My rents for this car
      </h2>
      <div *ngFor="let rent of myRents" class="flex flex-col mb-4">
        <label class="block"
          >Start date: {{ rent.startDate.slice(0, 10) }}</label
        >
        <label class="block">End date: {{ rent.endDate.slice(0, 10) }}</label>
        <a href="/user/rent/{{ rent.id }}">
          <button
            class="bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 mt-2"
          >
            Manage
          </button>
        </a>
      </div>
    </ng-container>

    <ng-template #NotLogged>
      <h2 class="text-2xl font-bold mb-4">You are not logged in</h2>
      <h4 class="text-lg">Please log in to continue</h4>
    </ng-template>
  </div>
</div>
