<div class="flex justify-center items-start min-h-screen">
  <div class="bg-white p-6 rounded-lg shadow-md w-3/5 my-8">
    <h2 *ngIf="!rent" class="text-2xl font-bold mb-4">Record not found</h2>

    <div *ngIf="rent">
      <label class="block mb-2">Start date:</label>
      <input
        type="datetime-local"
        [(ngModel)]="rent.startDate"
        class="border border-gray-300 p-2 w-full rounded mb-4"
      />

      <label class="block mb-2">End date:</label>
      <input
        type="datetime-local"
        [(ngModel)]="rent.endDate"
        class="border border-gray-300 p-2 w-full rounded mb-4"
      />

      <button
        (click)="modify()"
        class="bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 w-full mb-4"
      >
        Save
      </button>
      <button
        (click)="callOff()"
        class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 w-full"
      >
        Call off
      </button>
    </div>
  </div>
</div>
