<div class="flex justify-center items-center min-h-screen">
  <div class="carContainer bg-white p-6 rounded-lg shadow-md w-3/5 my-8">
    <ng-container *ngIf="user; else NotLogged">
      <h1 class="text-3xl font-bold mb-6">
        {{ user.name }} {{ user.lastName }}
      </h1>

      <h3 class="text-2xl font-semibold mb-4">Your data:</h3>
      <div class="mb-6">
        <label class="block mb-2">Name: {{ user.name }}</label>
        <label class="block mb-2">Last name: {{ user.lastName }}</label>
        <label class="block mb-2">E-mail: {{ user.email }}</label>
        <label class="block mb-2">Phone: {{ user.phone }}</label>
      </div>

      <h3 class="text-2xl font-semibold mb-4">Your rents:</h3>

      <div *ngFor="let rentGroup of rentGroups" class="mb-6">
        <img
          src="{{ rentGroup.key.imageUrl }}"
          class="w-full h-auto object-cover rounded mb-4"
        />
        <label class="block text-xl font-bold mb-2"
          >{{ rentGroup.key.producer }} {{ rentGroup.key.make }}</label
        >
        <div *ngFor="let rent of rentGroup.values" class="mb-4">
          <label class="block mb-2">Start date: {{ rent.startDate }}</label>
          <label class="block mb-2">End date: {{ rent.endDate }}</label>
          <a href="/user/rent/{{ rent.id }}">
            <button
              class="bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 w-full"
            >
              Manage
            </button>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #NotLogged>
      <h2 class="text-2xl font-bold mb-4">You are not logged in</h2>
      <h4 class="text-lg">Please log in to continue</h4>
    </ng-template>
  </div>
</div>
