<div class="bg-gray-100 min-h-screen p-6">
  <div class="bg-white p-6 rounded-lg shadow-md w-4/5 mx-auto mb-8">
    <h2 class="text-2xl font-bold mb-4 text-center">
      Jak korzystać z naszej witryny
    </h2>
    <div class="mb-10 p-4 flex items-center border border-gray-300 rounded">
      <img
        src="../../assets/register.png"
        alt="Creating an account"
        class="w-1/2 h-auto rounded mr-4"
      />
      <div class="w-1/2">
        <h3 class="text-xl font-semibold mb-2">1. Creating an account        </h3>
        <p class="text-gray-700">
          Follow the steps to create a new account on our website.
        </p>
      </div>
    </div>
    <div
      class="mb-10 p-4 flex items-center flex-row-reverse border border-gray-300 rounded"
    >
      <img
        src="../../assets/log_in.png"
        alt="Logging in"
        class="w-1/2 h-auto rounded ml-4"
      />
      <div class="w-1/2">
        <h3 class="text-xl font-semibold mb-2">2. Logging in</h3>
        <p class="text-gray-700">
          Enter your login credentials to log in to your account
        </p>
      </div>
    </div>
    <div class="mb-10 p-4 flex items-center border border-gray-300 rounded">
      <img
        src="../../assets/select_car.png"
        alt="Browsing car list"
        class="w-1/2 h-auto rounded mr-4"
      />
      <div class="w-1/2">
        <h3 class="text-xl font-semibold mb-2">
          3. Browsing the car list
        </h3>
        <p class="text-gray-700">
          Browse the available cars and select the one you want to rent.
        </p>
      </div>
    </div>
    <div
      class="mb-10 p-4 flex items-center flex-row-reverse border border-gray-300 rounded"
    >
      <img
        src="../../assets/rent_car.png"
        alt="Renting a car"
        class="w-1/2 h-auto rounded ml-4"
      />
      <div class="w-1/2">
        <h3 class="text-xl font-semibold mb-2">4. Renting a car</h3>
        <p class="text-gray-700">
          After choosing a car, proceed to the rental process.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md w-4/5 mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-center">News</h2>
    <div class="mb-8 p-4 border border-gray-300 rounded">
      <h3 class="text-xl font-semibold mb-2">
        Recently we have purchased a new car
      </h3>
      <p class="text-gray-700">
        We are excited to announce that we have added a new car to our fleet.
        Check it out in the cars section!
      </p>
    </div>
    <div class="mb-8 p-4 border border-gray-300 rounded">
      <h3 class="text-xl font-semibold mb-2">New Office Opening</h3>
      <p class="text-gray-700">
        We are thrilled to announce the opening of our new office in downtown.
        Visit us at our new location for all your rental needs.
      </p>
    </div>
    <div class="mb-8 p-4 border border-gray-300 rounded">
      <h3 class="text-xl font-semibold mb-2">Holiday Discount Offer</h3>
      <p class="text-gray-700">
        Take advantage of our special holiday discount offer! Rent a car during
        the holiday season and get a 20% discount.
      </p>
    </div>
    <div class="p-4 border border-gray-300 rounded">
      <h3 class="text-xl font-semibold mb-2">Expanded Fleet</h3>
      <p class="text-gray-700">
        We have expanded our fleet with more luxury and economy cars. Browse our
        collection and find the perfect car for your next trip.
      </p>
    </div>
  </div>
</div>
